<!DOCTYPE html>
<html>
<head>
    <title>Emotion Music System</title>
</head>
<body>
    <h1>🎧 Emotion-Based Music Recommendation</h1>

    <form action="/recommend/" method="get">
        <label>Select your emotion:</label>
        <select name="emotion">
            <option value="Happy">Happy</option>
            <option value="Sad">Sad</option>
            <option value="Angry">Angry</option>
            <option value="Relaxed">Relaxed</option>
        </select>
        <button type="submit">Get Songs</button>
    </form>
</body>
</html>